* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    width: 100vh;
    height: 100vh;
}

.my-brand img {
    height: 65px;
    width: auto;
}

.my-navbar {
    position: absolute !important;
    z-index: 9999;
    width: 100%;
    top: 0;
    height: 80px;
    background: transparent;
}

#nav-link-id {
    color: black !important;
    text-decoration: none;
    font-size: 22px;
    margin-right: 30px;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: center;
}

#nav-link-id:hover {
    transition: 1s ease;
    color: azure !important;
    border: solid black 1px transparent;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section-light {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-color: rgb(249, 241, 167);
    position: relative;
    text-align: center !important;
}

.section-dark {
    height: 100vh;
    width: 100%;
    background-position: center;
    background-color: rgb(158, 153, 107);
    position: relative;
    text-align: center !important;
}

.top {
    float: right;
}

.top img {
    width: 35px;
    height: 35px;
    margin: 15px;
    float: right;
}


/* Table */

.table {
    font-size: 13.5px;
    text-align: center;
    width: 100%;
}

.spain-details {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: inline-block;
}

.england-details {
    width: 90%;
    height: 90vh;
    margin: 0 auto;
    display: inline-block;
}

#title-spain {
    padding-top: 15px;
    margin-right: 10px;
    font-size: 18px;
}

#title-england {
    padding-top: 15px;
    margin-right: 10px;
    font-size: 18px;
}

.green {
    background-color: rgb(1, 155, 1, 0.2);
}

.red {
    background-color: rgb(252, 15, 15, 0.2);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-top: 0px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#logoimg {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#logoimg-dark {
    font-weight: bold;
    color: black;
    text-decoration: none;
}